  .social {
    max-width: 1024px;
    justify-content: center;
    margin: 0 30px;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto auto auto;
    column-gap: 32px;
  }

  .social>.status {
    grid-row: 2/3;
  }

  .social>.progress {
    grid-row: 3/4;
  }

  .social>.social__form-container {
    grid-row: 1/5;
  }

  @media screen and (max-width: 856px) {
    .social {
      grid-template-columns: repeat(1, auto);
      max-width: 312px;
      margin: 0 24px 80px;
    }

    .social>.stepper {
      grid-row: 1/2;
    }

    .social>.social__form-container {
      grid-row: 2/3;
    }

    .social>.status {
      grid-row: 3/4;
      margin: 32px 0 0;
    }
  }