.volunteer .main__buttons-container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 560px) {
    .volunteer .main__buttons-container {
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 560px) and (max-width: 856px) {
    .volunteer  .main__buttons-container {
        margin-bottom: 40px;
    }
}