.navigation__text {
    margin: 0 0 0 8px;
}

@media screen and (max-width: 856px) {
    .navigation__text {
        margin: 0;
    }

    .navigation__text:first-of-type {
        display: none;
    }
}