.social__form-container__subtitle {
  margin: 24px 0 12px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #58646A;
}

@media screen and (max-width: 856px) {
  .social__form-container__subtitle {
    grid-template-columns: repeat(1, auto);
    margin: 20px 0 12px 0;
  }
}