.create-account__background {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    width: 706px;
    height: 352px;
    border-radius: 0 6px 6px 0;

    background-color: #374045;
    transition: all .4s linear;
}

@media screen and (min-width: 1700px) {
    .create-account__background {
        width: 800px;
    }
}

@media screen and (max-width: 856px) {
    .create-account__background {
        width: 100vw;
        height: 288px;
        border-radius: 0px 0px 6px 6px;
    }
}