.create-account__background {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    width: 706px;
    height: 352px;
    border-radius: 0 6px 6px 0;

    background-color: #374045;
    transition: all .4s linear;
}

.create-account:hover .create-account__background {
    background-color: #EA5A0A;
}

.create-account_right .create-account__background {
    align-items: start;
}

.create-account_right .create-account__background {
    border-radius: 6px 0 0 6px;
}

@media screen and (max-width: 856px) {
    .create-account__background {
        width: 100vw;
        height: 288px;
        border-radius: 0 0 6px 6px;
    }

    .create-account_right .create-account__background {
        border-radius: 6px 6px 0 0;
    }
}