.header__container {
  max-width: 1120px;
  width: 77.8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px auto;
}
@media screen and (max-width: 900px) {
  .header__container {
    margin: 4px auto;
  }
}
@media screen and (max-width: 320px) {
  .header__container {
    margin: 4px 24px;
  }
}