@keyframes fly__blue {
    0% {
        top: 0;
        left: 0;
    }

    25% {
        top: 10px;
        left: 0;
    }

    50% {
        top: 12px;
        left: 5px;
    }

    75% {
        top: 0;
        left: 10px;
    }

    100% {
        top: 0;
        left: 0;
    }
}

@keyframes fly__orange {
    0% {
        top: 0;
        left: 0;
    }

    25% {
        top: 0;
        left: 5px;

    }

    50% {
        top: 5px;
        left: 3px;
    }

    75% {
        top: 6px;
        left: 0;
    }

    100% {
        top: 0;
        left: 0;
    }
}