.airplane__track {
    margin-left: 120px;
    width: 270px;
    height: 140px;
    background-image: url(../../../images/Track.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
}

@media screen and (max-width: 682px) {
    .airplane__track {
        margin-left: 120px;
        width: 230px;
        height: 125px;
    }
}