.progress {
  width: 256px;
  display: grid;
  grid-template-columns: 1fr 24px;
  row-gap: 8px;
  column-gap: 16px;
  margin: 0px;
}
@media screen and (max-width: 876px) {
  .progress {
    display: none;
  }
}
