.main__form_type_password {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (max-width: 856px) {
  .main__form_type_password {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(32px, 1fr));
    gap: 16px;
  }
}
