.tag {
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 157px;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 12px;
    font-weight: 700;
    line-height: 14px;

    transition: all .2s linear;
}

.tag:hover {
    opacity: .5;
}