.airplane {
    position: relative;
    margin: 0;

    display: flex;
    justify-content: flex-end;

    min-width: 560px;
    height: 280px;
    background-image: url(../../images/Background.svg);
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 1270px) {
    .airplane {
        margin: 0 64px;
    }
}

@media screen and (max-width: 682px) {
    .airplane {
        margin: 0;

        position: absolute;
        top: 255px;
        transform: scale(-1, 1);
        background-position: 83% 45%;
        background-size: contain;
        min-width: 340px;

        z-index: -1;
    }
}
