.tagify__tag__removeBtn {
  color: white;
  background-image: url("../../../../images/input-cross-white-ico.svg");
  background-size: cover;
  width: 16px;
  height: 16px;
}

.tagify__tag__removeBtn:after {
  content: '';
  transition: .3s, color 0s;
}

.tagify__tag__removeBtn:hover {
background-image: url("../../../../images/input-cross-white-ico.svg");
}