.contacts__form-container__radio-buttons-box {
  display: flex;
  margin: 32px 0 20px;
  border-radius: 20px;
}

@media screen and (max-width: 856px) {
  .contacts__form-container__radio-buttons-box {
    flex-direction: column;
    margin: 32px 0 16px;
  }
}

