.create-account_image_horn {
    position: absolute;
    top: -64px;
    left: -1px;

    width: 336px;
    height: 414px;
    background-image: url('../../../images/horn.png');
    background-repeat: no-repeat;
    background-size: contain;

    transition: all .2s linear;
    z-index: 1;
}

@media screen and (max-width: 520px) {
    .create-account_image_horn {
        position: absolute;
        top: -4px;
        left: -10px;

        width: 168px;
        height: 207px;
    }
}