.create-account {
    position: relative;
    margin: 0;
    padding: 0;
}

.create-account:hover {
    cursor: pointer;
}

.create-account:hover .create-account__background {
    background-color: #EA5A0A;
}

.create-account:hover .create-account_image_horn {
    transform-origin: bottom left;
    transform: rotate(-2deg);
    background-image: url('../../images/horn-grey.png');
}

.create-account:hover .create-account_image_horn-razor {
    transform: scale(1);
}

.create-account:hover .create-account_image_life-preserver {
    transform-origin: bottom left;
    background-image: url('../../images/life-preserver-grey.png');
    transform: rotate(1deg);
}

.create-account:hover .create-account_image_bubbles {
    transform: rotate(-2deg);
}

.create-account:hover .create-account__create {
    color: #374146;
}