.main__form-subtitle {
    margin: 0;
    padding-top: 24px;
    padding-bottom: 12px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #58646A;
  }
  
  @media screen and (max-width: 856px) {
    .main__form-subtitle {
      max-width: 311px;
      padding-top: 32px;
    }
  }
  