.volunteer__input:first-of-type .volunteer__text {
    margin-top: 0;
}

.volunteer__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1217px) {
    .volunteer__input {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 856px) {
    .volunteer__input {
        flex-direction: row;
    }
}

@media screen and (max-width: 736px) {
    .volunteer__input {
        flex-direction: column;
        align-items: flex-start;
    }
}