.create-account__description {
    margin-right: 96px;

    width: 370px;

    text-align: right;
    color: white;

    z-index: 2;
}

.create-account_right .create-account__description {
    text-align: left;
}

.create-account_right .create-account__description {
    margin-left: 96px;
    margin-right: 0;
}

@media screen and (max-width: 693px) {
    .create-account__description {
        margin-right: 24px;
        margin-left: 28px;

        width: 270px;
    }

    .create-account_right .create-account__description {
        margin-left: 24px;
        margin-right: 0;
        width: 312px;
    }
}