.notification__checkbox-container {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    padding-top: 20px;
}

.notification__checkbox-container:first-of-type {
    padding-top: 12px;
}