.input-case__subtitle {
  position: absolute;
  opacity: 0;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 0;
  color: #7B878F;
  top: 5px;
  left: 16px;

  transition: all .2s linear;
}