.footer__icon-container {
  height: 48px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.footer__icon-container:last-of-type{
  margin-left: 35%;
}