.input-case__dropdown-content {
  display: none;
  position: absolute;
  border-radius: 8px;
  background-color: #ffffff;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 4px;
}