* {
    font-family: 'Arial';
}


.menu {
    margin: 0;
    padding: 20px 60px 20px 20px;

    display: grid;
    gap: 16px;

    border: 1px solid #E3E9F0;
    width: fit-content;
    max-width: 256px;
    border-radius: 4px;

    list-style-type: none;
}

.menu__item {
    margin: 0;

    display: flex;
    align-items: baseline;

    transition: all .2s linear;
    cursor: pointer;
}

.menu__number {
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 32px;
    min-width: 32px;
    background-color: #72D0DC;
    border-radius: 50%;

    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.menu__text {
    margin: 0;
    padding-left: 12px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #58646A;
}

.menu__item:hover {
    opacity: .5;
}

.menu__item_active .menu__text {
    color: #EA5A0A;
}

.menu__item_active .menu__number {
    background-color: #EA5A0A;
}