.tagify__dropdown__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7B878F;
    display: none;
    max-width: 358px;
    max-height: 40px;
    padding: 0 0 12px 16px ;
    align-self: center;
}

.tagify__dropdown__item:hover {
    background: none;
}

.tagify__dropdown__itemsGroup:hover .tagify__dropdown__item {
    display: block;
}