.account-variants {
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    gap: 4px;
}

@media screen and (max-width: 1430px) {
    .account-variants {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 50%);
    }
}