.header__avatar {
  background: #73B6C0 url(../../../images/user.svg) no-repeat center;
  width: 48px;
  height: 48px;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
}
@media screen and (max-width: 900px) {
  .header__avatar {
    width: 32px;
    height: 32px;
  }
}