.notification__mark {
    position: static;
}


.notification__mark:hover::after {
    width: 352px;
    height: 64px;
    position: absolute;
    top: 40px;
    right: 180px;
    z-index: 1;
    content: 'Мы будем присылать на email все важные уведомления по твоим заданиям';
}