.header__search {
  background: url(../../../../images/search.svg) no-repeat;
  background-color: none;
  border: none;
  cursor: pointer;
  width: 24px;
  padding: 0;
  margin-left: 30px;
  transition: .3s;
}
.header__search:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1060px) {
  .header__search {
    margin-left: 10px;
  }
}
