.menu {
    margin: 0;
    padding: 20px 60px 20px 20px;

    display: grid;
    gap: 16px;

    border: 1px solid #E3E9F0;
    width: 176px;
    border-radius: 4px;

    list-style-type: none;

    cursor: pointer;
}

@media screen and (max-width: 856px) {
    .menu {
        border: none;
        padding: 0;
        grid-auto-flow: column;
        gap: 12px;
        width: 100%;
    }
}