.contacts__form__inputs-container {
  border: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: minmax(200px, 358px) minmax(200px, 358px);
  gap: 20px;
}

@media screen and (max-width: 856px) {
  .contacts__form__inputs-container {
    grid-template-columns: auto;
    gap: 16px;
  }
}