.competition-popup__input {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}
.competition-popup__input:checked + .competition-popup__input-stile {
  content: "";
  rotate: 180deg;
}
.competition-popup__input:checked ~ .competition-popup__acord-body {
  content: "";
  height: 322px;
}

